<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>pegjs</title>
    <link rel="icon" type="image/jpg" href="favicon.jpg" />
    <link rel="stylesheet" href="/styles.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="lib/codemirror.css">
    <script src="lib/codemirror.js"></script>
    <script src="mode/pascal/pascal.js"></script>
  </head>
  <body>
    <center><img src="logo.png" alt="Smiley face" width="640" height="110"></center>
    <br>
    <div id='cssmenu'>
    <ul>
       <li><a href='/'><span>Home</span></a></li>
       <li><a href='/grammar'><span>Gramática</span></a></li>
       <li><a href='/tests'><span>Pruebas</span></a></li>
       <li><a href='https://github.com/alu4073/AnalizadorPL0PEG'><span>Repositorio</span></a></li>
       <li class='has-sub last'><a href='#'><span>Autores</span></a>
          <ul>
             <li><a href='https://github.com/alu4102'><span>Sara Martín</span></a></li>
             <li class='last'><a href='https://github.com/alu4073'><span>Adrián Glez</span></a></li>
          </ul>
       </li>
    </ul>
    </div>
    <%= yield %>
  </body>
</html>

